// SCSS Variables
$layout_bp_mobile: 360px;
$layout_bp_tablet: 800px;
$layout_bp_desktop: 1000px;

$dark-gray: #181818;
$med-gray: #282828;
$light-gray: #b3b3b3;
$black: black;

// SCSS Mixins
@mixin tablet {
  @media only screen and (min-width: $layout_bp_tablet) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $layout_bp_desktop) {
    @content;
  }
}

// SCSS Styles
.show {
  overflow: visible;
  height: auto;
}

.activate-link {
  background-color: $light-gray;
}

.artist-section {
  padding-top: 20px;
  width: 97%;
  margin: 0 auto;

  &__header-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
  }

  &__header-img-container {
    margin-top: 20px;
  }
  &__main-container {
    margin-top: 40px;
    padding-top: 20px;
    // position: absolute;
    width: 900px;
    background-color: $dark-gray;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__name {
    padding-top: 10px;
    margin-bottom: 10px;
  }

  &__followers-container {
    margin-bottom: 17px;
  }

  &__btn-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &__related-btn {
    margin-left: 10px;
  }

  &__top-tracks-container {
    margin-top: 15px;
  }

  &__top-tracks-container--hide {
    height: 345px;
    overflow: hidden;
  }

  &__albums-container {
    margin-top: 30px;    
  }

  &__albums-container--hide {
    height: 370px;
    overflow: hidden;
  }

  &__albums-list-container {
    display: flex;
    flex-wrap: wrap;
  }
}