<div class="wrap" id="artistId" *ngIf="artist != null">
    <div class="list-area">
        <div class="main" (scroll)="onScroll($event)">
            <div class="main__wrap top-scroll-bg" [ngStyle]="{'background': bgColor}"></div>
            <div class="main__wrap summary">
                <div class="summary__img">
                    <img [src]="artist.images | errorImage" [alt]="artist.name">
                </div>
                <div class="summary__box">
                    <div class="summary__text">
                        <ul>
                            <li>
                                <strong class="summary__text--title">
                                    {{artist.name}}
                                </strong>
                            </li>
                            <li>
                                <p class="will-hidden">
                                    {{ artist.followers.total }} monthly listeners
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="summary__button">
                        <ul class="button">
                            <li class="button__list button__play-btn">
                                <p class="button__text">PLAY</p>
                            </li>
                            <li class="button__list"><i class="button__icon fa fa-heart"></i></li>
                            <li class="button__list"><i class="button__icon fa fa-ellipsis-h"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main__wrap">
                <!-- <div class="summary__img"  ></div> -->
                <div class="summary__box" [ngClass]="{'on summary': fixed }">
                    <div class="summary__text" [ngClass]="{'fuck': !dntShow }">
                        <ul>
                            <li>
                                <strong class="summary__text--title">
                                    {{artist.name}}
                                </strong>
                            </li>
                        </ul>
                    </div>
                    <div class="summary__button" [ngClass]="{'fuck': !dntShow }">
                        <ul class="button">
                            <li class="button__list button__play-btn">
                                <p class="button__text">
                                    PLAY
                                </p>
                            </li>
                            <li class="button__list"><i class="button__icon fa fa-heart"></i></li>
                            <li class="button__list"><i class="button__icon fa fa-ellipsis-h"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="artist-section__top-tracks-container"
                    [ngClass]="moreTracks ? 'show' : 'artist-section__top-tracks-container--hide'">
                    <div class="d-flex justify-content-between w-100">
                        <h2 class="artist-section__top-tracks-title">
                            Popular
                        </h2>
                        <div class="artist-section__see-more-container">
                            <button class="btn-template" (click)="seeMoreTracks()">
                                SEE MORE
                            </button>
                        </div>
                    </div>
                    <div class="artist-section__top-tracks-list-container" *ngIf="topTracks.length > 0">
                        <ul class="artist-section__top-tracks-list">
                            <app-artist-top-track [topTrack]="topTrack"
                                *ngFor="let topTrack of topTracks; let i = index" [id]="i+1">
                            </app-artist-top-track>
                        </ul>
                    </div>
                </div>
                <div class="artist-section__albums-container"
                    [ngClass]="moreAlbums ? 'show' : 'artist-section__albums-container--hide'">
                    <div class="d-flex justify-content-between w-100">
                        <h2 class="artist-section__albums-title">
                            Featuring {{ artist.name }}
                        </h2>
                        <button class="btn-template" (click)="seeMoreAlbums()">
                            SEE ALL
                        </button>
                    </div>
                    <div class="container">
                        <div class=" row artist-section__albums-list-container" *ngIf="albums.length > 0">
                            <app-artist-albums class="col-md-3" [album]="album"
                                *ngFor="let album of albums; let iter = index" [it]="iter">
                            </app-artist-albums>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>