<div class=" home_container pb-5">
    <app-home-banner></app-home-banner>
    <!-- <app-recently-played></app-recently-played> -->
    <app-recommended></app-recommended>
    <div id="newReleasesId" class="new-releases_container">
        <h3 class="title ms-2">New Releases</h3>
        <section class="container_section" *ngIf="newReleases.length > 0">
            <div class="container m-0 p-0">
                <div class="row">
                    <app-new-release-item [newRelease]="newRelease" class="col-md-3"
                        *ngFor="let newRelease of newReleases; let i = index" [it]="i">
                    </app-new-release-item>
                </div>
            </div>
        </section>
    </div>
    <app-hindi-party></app-hindi-party>
    <app-todays-hit></app-todays-hit>
    <app-new-music></app-new-music>
    <!-- <app-popular-album></app-popular-album> -->
</div>