// SCSS Mixins
// @mixin tablet {
//   @media only screen and (min-width: $layout_bp_tablet) {
//     @content;
//   }
// }

// @mixin desktop {
//   @media only screen and (min-width: $layout_bp_desktop) {
//     @content;
//   }
// }
.home_container {
  padding: 10px;
  // background-color: var(--theme-bg);
  border-radius: 20px;
  min-height: 100%;
}
.new-releases_container {
  background: transparent;

  .title {
    color: #d8d8d8;
    font-weight: 600;
    letter-spacing: 0.7px;
    font-size: 17px;
  }

  .Container_section {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}
