
aside{
    // width: 18%;
    border-right:1px solid rgb(204, 204, 204,0.2);
    box-sizing: border-box;
    padding: 10px 48px;
    padding-bottom: 0;
    background-color: #fff;
    
}

.profile_img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 12px 16px 0  rgb(0,0,0,0.13);
}

#user-div{
    margin: 0 auto;
    text-align: center;
}

#user-div  h3{
    font-size: 14px;
    margin: 0;
    margin-top:10px;
}

#user-div p{
    font-size: 12px;
    margin: 0;
    color: #a7afc9;
}

.list-para{
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

#music-h3{
    color: #a7afc9;
    font-size: 14px;
    margin-top: 30px;
    letter-spacing: 0.5px;
}

i{
    color: #a7afc9;
    margin-right: 20px;
}

#menu-div{
    margin-top: 30%;
    color: #a7afc9;
}
.list-para:hover {
    color: #000;
    .fa{
        color: #000;
        transform: scale(1.1);
    }

}

div > i{
    margin-right: 2px;
    cursor: pointer;
}

