<div *ngIf="it < 4">
    <div class="card">
        <div class="cover artist" *ngIf="newRelease" (click)="navigate(newRelease)">
            <img [src]="newRelease.images | errorImage" [alt]="newRelease.name" />
            <div class="play-icon">
                <i class="fa fa-play"></i>
            </div>
        </div>
        <div class="card-content">
            <h4><a>{{newRelease.name | titlecase}}</a></h4>
            <!-- <p>{{newRelease.artists | titlecase}}</p> -->
        </div>
    </div>
</div>

