$main-color-darker: #1DBA54;
$main-color: #1ED761;
@mixin flex-justify-btw{
	display: flex;
	justify-content:space-between;
}
input[type="range"] {
	width: 100%;
 	outline: none;
	padding: 0;
	height: 4px;
	background-color: #404040;
	background-image: linear-gradient(#b3b3b3, #b3b3b3);
	background-repeat: no-repeat;
	border-radius: 10px;
	cursor: pointer;
	-webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb {
	width: 12px;
	height: 12px;
	border: 0;
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
	-webkit-appearance: none;
	opacity:0
}
input[type="range"]:hover{
	background-image: linear-gradient($main-color-darker, $main-color-darker);
}
input[type=range]:hover::-webkit-slider-thumb {
  opacity:1;
}

ul{
  list-style: none;
}
.playbar{
	display: flex;
	width: 100%; 
	height: 86px;
	padding: 18px 16px 12px;
	background-color: var(--theme-bg);
  border-top: 1px solid var(--body-color);
	box-sizing: border-box;
}
// playbar - album cover and info
.album-cover{
    min-width: 280px;
	display: flex;
    flex:1;
    
    &__img{
        width: 56px;
        height: 56px;
        background: url(https://i.scdn.co/image/ab67616d00001e02a00bcbae89bf421636fdd310);
        background-size: cover;
    }
    &__text-box{
        padding: 0 10px;
    }
    &__wrap{
        display: flex;
        line-height:2.4;
    }
    &__title{
        color:#fff;

        &:hover{
            text-decoration: underline;
        }
    }
    &__icon-box{
        margin-left:20px;
    }
    &__icons{
        margin:-2px 0 0 4px;
    }
    &__artist{
        font-size: 11px;

        &:hover{
            color: #fff;
            text-decoration: underline;
        }
    }
}
// playbar - play buttons 
.play-btns{
	width: 100%;
	min-width: 342px;
	flex:3;
    
    &__wrap{
        @include flex-justify-btw;
    }
    &__icon-box{
        width: 218px;
        margin: auto;
        font-size: 14px;
        line-height: 32px;
    }
    &__list:hover{
        color: #fff;

        .fa-play-circle{
            color: #fff;
            transform: scale(1.05);
        }
    }
    &__icon.fa-play-circle{
        color: #e5e5e5;
        font-size: 32px;
    }
    &__range-bar{
        width: 84%;
        margin: auto;
        font-size: 11px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    &__bar{
        flex: 2;
        padding: 0 20px;
    }
}
// playbar - other buttons(right side) 
.ect-btns{
	max-width: 228px;
	min-width: 228px;
	flex:1;
	font-size: 14px;
    
    &__inner{
        @include flex-justify-btw;
        padding-left: 18px;
    }
    &__list{
        line-height: 56px;

        &:hover .ect-btns__icon{
            color: #fff;
        }
        &--volume{
            display: flex;
        }
    }
    &__icon{
        padding-right: 6px;
        line-height: 56px;
    }
    &__bar{
        width: 74px;
        margin-top: -3px;
    }
}
