.sidebar {
  height: calc(100% - 90px); /* 90px is the height of the bottom bar */
}

.bottom-bar {
  width: 100%;
  height: 90px;
  border-top: 1px solid #000;
  background-color: rgba(24, 24, 24, 1);
  z-index: 1;
  position: absolute;
  bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}
.bottom-bar--left-col {
  display: flex;
  align-items: center;
  position: relative;
  transition: left 300ms;
  left: 0;
}

.bottom-bar--left-col--song {
  display: flex;
}

.bottom-bar--left-col--song--img img {
  height: 56px;
  width: 56px;
}
.bottom-bar--left-col--song--img img {
  height: 56px;
  width: 56px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
}

.bottom-bar--left-col--song--img {
  margin-right: 14px;
  display: flex;
  position: relative;
}

.bottom-bar--left-col--song--img--pull-up {
  position: absolute;
  top: 4px;
  right: 4px;
  background: #000;
  width: 24px;
  height: 24px;
  opacity: 0.7;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: #b3b3b3;
}

.bottom-bar--left-col--song--img--pull-up:hover {
  /* Hovering over the arrow icon makes it bigger and brighter */
  opacity: 0.8;
  transform: scale(1.1);
  color: #fff;
}

.bottom-bar--left-col--song--img:hover .bottom-bar--left-col--song--img--pull-up {
  /* Hovering over the image reveals the arrow icon */
  display: flex;
}
.bottom-bar--left-col--song--details {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-right: 14px;
}

.bottom-bar--left-col--song--details--wrapper {
  display: block;
  line-height: 17px;
}

.bottom-bar--left-col--song--details a {
  display: inline;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0;
}

.bottom-bar--left-col--song--details a:hover {
  color: #fff;
  /* Border-bottom instead of text-decoration: underline */
  border-bottom: 1px solid #fff;
}

.bottom-bar--left-col--song--details--title {
  font-size: 0.875rem;
}

.bottom-bar--left-col--song--details--artist {
  font-size: 0.75rem;
}
.bottom-bar--left-col--actions {
  display: flex;
  align-items: center;
}

.bottom-bar--left-col--actions--favorite {
  background: transparent;
  border: 0;
  outline: 0;
  color: #b3b3b3;
  font-size: 1rem;
  margin-right: 10px;
}

.bottom-bar--left-col--actions--favorite:hover {
  color: #fff;
}
.bottom-bar--left-col--actions--pip {
  background: transparent;
  border: 0;
  outline: 0;
  position: relative;
  /* Width and height will be the actual size of the PiP icon */
  width: 16px;
  height: 13px;
  padding: 0;
}

/* The outside of the PiP icon, the Rectangle part of the icon */
.pip-icon {
  border: 1px solid;
  border-bottom: 2px solid;
  border-radius: 1px;
  border-color: #b3b3b3;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* 
  The small rectangle of the PiP icon 
  that is on filled and is on the bottom right corner of the icon 
*/
.pip-icon:before {
  content: '';
  position: absolute;
  bottom: 1px;
  right: 1px;
  height: 3px;
  width: 5px;
  background: #b3b3b3;
  border-radius: 1px;
}

.bottom-bar--left-col--actions--pip:hover .pip-icon {
  border-color: #fff;
}

.bottom-bar--left-col--actions--pip:hover .pip-icon:before {
  background: #fff;
}