.searchPage_container {
    min-height: 100%;
}
.nav_btn {
    background: var(--button-bg);
    color: #fff;
    border: 0;
    border-radius: 50%;
    height: 28px;
    width: 26px;
    cursor: pointer;
    outline: 0;
}
.prev {
    margin-right: 10px;
}

.search {
    position: relative;
    width: 40%;
    input {
        width: 100%;
        padding: 5px 44px;
        padding-right: 10px;
        font-size: 12px;
        letter-spacing: 0.8px;
        color: #000;
        outline: none;
        border: 0;
        border-radius: 24px;
        background-color: #eee;
        box-sizing: border-box;
    }
}

#search-icon {
    position: absolute;
    color: var(--body-color);
    left: 10px;
    bottom: 8px;
    cursor: pointer;
    padding: 0 5px;
}
#cog-icon {
    margin: 0 20px;
    color: var(--body-color);
}
.dntClick_btn {
    background-color: #0084ff;
    border: none;
    color: white;
    padding: 7px 14px;
    font-size: 11px;
    border-radius: 24px;
    background-image: linear-gradient(to right, #ff1f33, #ff6773);
    cursor: pointer;
    outline: none;
}

#right {
    color: var(--body-color);
    display: flex;
    align-items: center;
    i:hover {
        color: #fff;
    }
}

#topbar {
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
}
.menu,
.drop-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.drop-menu {
    display: none;
    position: absolute;
    list-style: none;
    right: 0;
    margin: 10px 0 0 0;
    padding: 0;
    width: 160px;
    background-color: var(--theme-bg);
    border-radius: 5px;
    // box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
        rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    li {
        padding-left: 40px;
        font-size: 0.9rem;
        // border-bottom: 1px solid rgb(64, 64, 64);
        color: #b3b3b3;
        user-select: none;
        height: 40px;
        line-height: 40px;
        a {
            text-decoration: none;
        }
    }
    li:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    li:last-child {
        border-bottom: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.drop-menu-item a {
    color: #b3b3b3;
}

.menu-item:hover {
    .drop-menu {
        display: block;
    }
    #cog-icon {
        color: #fff;
    }
}

#sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        color: #d8d8d8;
        font-weight: 600;
        letter-spacing: 0.7px;
        font-size: 17px;
    }
    button {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        background: transparent;
        border: 0;
    }
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
}

.testQ {
    height: 350px;
    overflow: hidden;
}
