/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
:root{
--bg:  #242424;
--bglight: #373737;
--highlight: #444;
--black: #aeaeae;
--darkwhite: #6d6d6d;;
}