<div class="container my-4 p-0">
    <div id="sub-header">
        <h3>Hindi party</h3>
        <div>
            <i class="fa fa-angle-left"></i>
            <i id="angle-icon" class="fa fa-angle-right"></i>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-md-2">
            <app-music-card></app-music-card>
        </div>
        <div class="col-md-2">
            <app-music-card></app-music-card>
        </div>
        <div class="col-md-2">
            <app-music-card></app-music-card>
        </div>
        <div class="col-md-2">
            <app-music-card></app-music-card>
        </div>
        <div class="col-md-2">
            <app-music-card></app-music-card>
        </div>
        <div class="col-md-2">
            <app-music-card></app-music-card>
        </div>
    </div>
</div>