.subtitle_wrapper{
    color: var(--black);
    font-weight: 600;
    .link{
        color: var(--black);
        padding: 16px;
        text-decoration: none;
    }
}

.card_container{
    max-width:200px;
    width: 100%;
    height: 250px;
    background-color: var(--highlight);
    border-radius: 10px;
    img{
        border-radius: 5px;
    }
}
.card_container:hover {
    background-color: var(--darkwhite);
}
